@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282828;
  padding: 10px;
}

.song-info {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
}

.volume-control {
  display: flex;
  align-items: center;
}

/* Exemple pour un input range personnalisé */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

/* Style spécifique pour les navigateurs Webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #1DB954;
  cursor: pointer;
  margin-top: -4px; /* Pour centrer le bouton avec la piste */
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #535353;
  border-radius: 5px;
  cursor: pointer;
}

/* Style spécifique pour Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #1DB954;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #535353;
  border-radius: 5px;
  cursor: pointer;
}

/* Style spécifique pour IE */
input[type="range"]::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #1DB954;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #535353;
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: #535353;
  border-radius: 5px;
}





